xml_project/src/movies.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT movies (movie+)>
<!ELEMENT movie (code,title,release-date?,theater-name+,city*)>
<!ELEMENT code (#PCDATA)>
<!ELEMENT tittle (#PCDATA)>
<!ELEMENT release-date (day,month,year)>
 <!ELEMENT day (#PCDATA)>
 <!ELEMENT month (#PCDATA)>
 <!ELEMENT year (#PCDATA)>
 <!ELEMENT theater-name (#PCDATA)>
 <!EMEMENT city (#PCDATA)>